html,body{
	margin : 0;
	padding : 0;
}

#output
{
	display: none;
	flex-direction: column;
	scroll-behavior: auto;
	overflow: scroll;
	max-height: 40vh;
	min-width: 30%;
	padding : 1% 0;
}

.subhead
{
	padding:2%;
}

#output>span,h3{
	margin-left: 4%;
}

#output>span{
	font-size: 24px;

}

#heading
{
	border-radius: 0;
	text-align: center;
}

#image
{
	display: flex;
	align-self: center;
	justify-content: center;
	text-align: center;
}

a{
	color:#19f705
}